<!DOCTYPE html>
<html>
    <head>
        <title>My Express Site</title>
        <!--<link rel="stylesheet" href="/app.css">-->
    </head>
    <body>
    	<h1>{{pageTitle}}</h1>
    	<a href="/">Home</a>
    	<a href="/about">About</a>